<%- include('header'); -%>
<h2>This is the about page</h2>

<p>Just checking to make sure that both the headers and footers are both
    automatically added to the page by default.
</p>
<%- include('footer'); -%>